@import '../../sass/main.scss';

.button {
  padding: 6px;
  margin-top: 10px;
  background-color: transparent;
  color: $secondary-color;
  font-weight: 500;
  font-size: large;
  border: none;

  &:hover {
    box-shadow: $box-shadow-card;
  }

  @include respond('desktop') {
    margin-left: 0 20px;
    font-size: x-large;
  }
}
