@mixin text-size($font-weight, $font-size, $line-height, $letter-spacing) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin respond($breakpoint) {
  @if $breakpoint == 'mobile' {
    @media screen and (max-width: $tablet) {
      @content;
    }
  }
  @if $breakpoint == 'tablet' {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }
  @if $breakpoint == 'desktop' {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}
