$header-background: rgba(1, 35, 61, 0.6);
$overlay-background: rgba(59, 71, 80, 0.9);
$primery-color: crimson;
$secondary-color: wheat;
$card-title-color: #9ac7fa;
$card-text-color: #cee4fd;
$high-vote-background: green;
$high-vote-color: rgb(3, 212, 3);
$low-vote-background: red;
$vote-border-color: rgba(255, 255, 255, 0.13);
$box-shadow-color: rgba(255, 51, 0, 0.5);
$form-color: #2a363b;
$review-title: rgb(186, 143, 241);

$box-shadow-card: 2px 4px 6px rgba(253, 4, 203, 0.432),
  2px 6px 6px rgba(253, 4, 203, 0.432), 4px 7px 10px rgba(253, 4, 203, 0.432);

$transition: cubic-bezier(0.4, 0, 0.2, 1);
