@import '../../sass/main.scss';

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: -15px;
  justify-content: center;
}

.item {
  margin: 15px;
  width: 200px;
  font-size: large;
  border-radius: 5px;
  overflow: hidden;

  &:hover {
    box-shadow: $box-shadow-card;

    & .overlay {
      transform: translateY(75%);
    }
  }
}

.card {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  display: block;
  text-align: center;
  background: $overlay-background;
  transform: translateY(100%);
  transition: transform 250ms $transition;
}

.name {
  margin: 0;
  padding: 5px;
  font-weight: 500;
  color: $secondary-color;
}

.text {
  margin: 0;
  padding: 5px;
}
