@import '../../sass/main.scss';

.list {
  line-height: 1.5;
  width: 1000px;
  text-align: center;
  color: $secondary-color;
  margin: -20px auto;
}

.item {
  border: 1px solid $secondary-color;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.title {
  color: $review-title;
  font-size: large;
}
