@import '../../sass/main.scss';

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -10px;
}

.item {
  width: 200px;
  font-size: large;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;

  &:hover {
    box-shadow: $box-shadow-card;

    & .overlay {
      transform: translateY(75%);
    }
  }
}

.link {
  text-decoration: none;
}

.thumb {
  position: relative;
}

.image {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  display: block;
  text-align: center;
  background: $overlay-background;
  transform: translateY(100%);
  transition: transform 250ms $transition;
}

// .item:hover .overlay {
//   transform: translateY(75%);
// }

.title {
  margin-top: 5px;
  color: $secondary-color;
  font-style: italic;
  font-weight: 700;
}

.rateHigh {
  color: $high-vote-color;
  font-weight: 700;
}

.rateLow {
  color: $low-vote-background;
  font-weight: 700;
}
