@import '../../sass/main.scss';

nav {
  text-align: center;
  @include respond('desktop') {
    text-align: start;
  }
}

.link {
  display: inline-block;
  text-decoration: none;
  margin-left: 8px;
  padding: 12px;
  font-weight: 500;
  color: $secondary-color;
  font-size: 22px;
}

.activeLink {
  composes: link;
  color: $primery-color;
}
